<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--        init-method和destroy-method用来选择初始操作和消亡操作-->
        <bean id="bookDao" class="com.d5error.dao.impl.BookDaoImpl" init-method="init" destroy-method="destroy"/>
        <bean id="bookService" class="com.d5error.service.impl.BookServiceImpl">
                <property name="bookDao" ref="bookDao"/>
        </bean>
</beans>