<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.d5error.mapper.BrandMapper">
    <resultMap id="brandResultMap" type="com.d5error.pojo.Brand">
        <result column="brand_name" property="brandName"/>
        <result column="company_name" property="companyName"/>
    </resultMap>
    
    <insert id="add">
        insert into tb_brand(brand_name, company_name, orderd, description, status)
        VALUES
            (#{brandName}, #{companyName}, #{orderd}, #{description}, #{status});
    </insert>
    
    <delete id="deleteById">
        delete
        from tb_brand
        where id = #{id};
    </delete>

    <update id="update">
        update tb_brand
        <set>
            <if test="brandName != null and brandName != ''">
                brand_name = #{brandName},
            </if>
            <if test="companyName != null and companyName != ''">
                company_name = #{companyName},
            </if>
            <if test="orderd != null">
                orderd = #{orderd},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where
            id = #{id};
    </update>

    <select id="selectById" resultMap="brandResultMap">
        select *
        from tb_brand
        where id = #{id};
    </select>

    <select id="selectAll" resultMap="brandResultMap">
        select *
        from tb_brand;
    </select>
</mapper>